.reducer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.button-group button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.button-group button:hover {
    background-color: rgb(53, 53, 53);
}
.button-group button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
